body {
    background-color:#98C1D9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, th {
    color:  #293241;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

a {
    color:  #293241;
    outline: none;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
}
a:visited{
    color:  #293241;

}

#mainTitle {
    background-color: #EE6C4D;
    font-family: 'Fredoka One', sans-serif;
    color: #293241;
}

/* *html { 
    font-size: 62.5%; 
}

body{
    background-color:rgb(22, 22, 22);
    opacity: 0.9;
    float: center;
    font-size: 3rem;
    font: 15px Verdana, sans-serif;
}

#menu{
    width: 20%;
    float: left;
    text-align: left;    
}

#menu ul li{
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: right;
    list-style-type: none
}


#mainTitle{
    float: center;
    height: 10rem;
    text-align: center;
    width: 70%;
    color: blueviolet;
    background-color: chartreuse;
} */